<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://b70a56c48e1632:eebd2ac2@eu-cdbr-west-02.cleardb.net:3306/heroku_da1706379db7051</property>
        <property name="hibernate.connection.username">b70a56c48e1632</property>
        <property name="hibernate.connection.password">zpi4cuf9xq2ytwzj</property>
        <property name="hibernate.connection.pool_size">3</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        
        
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.release_mode">after_transaction</property>

        <!-- Hikari specific properties -->
        <!--<property name="connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>-->
        <property name="hikari.dataSource.cachePrepStmts">true</property>
        <property name="hikari.dataSource.prepStmtCacheSize">250</property>
        <property name="hikari.dataSource.prepStmtCacheSqlLimit">2048</property>
        <property name="hikari.dataSource.useServerPrepStmts">true</property>
        <property name="hikari.maximumPoolSize">2</property>
        <property name="hikari.idleTimeout">30000</property>

        <!-- Database connection properties -->
        <!--<property name="hibernate.hikari.dataSourceClassName">com.mysql.jdbc.jdbc2.optional.MysqlDataSource</property>-->
        <property name="hikari.dataSource.url">jdbc:mysql://b70a56c48e1632:eebd2ac2@eu-cdbr-west-02.cleardb.net:3306/heroku_da1706379db7051</property>
        <property name="hikari.dataSource.user">b70a56c48e1632</property>
        <property name="hikari.dataSource.password">zpi4cuf9xq2ytwzj</property>
        
        <!--HikariCP settings-->
        <property name="hibernate.hikari.connectionTimeout">2000</property>
        <property name="hibernate.hikari.minimumIdle">1</property>
        <property name="hibernate.hikari.maximumPoolSize">2</property>
 
        <mapping class="com.bookingpetz.domain.User" />
        <mapping class="com.bookingpetz.domain.Contact" />
        <mapping class="com.bookingpetz.domain.Service" />
        <mapping class="com.bookingpetz.domain.Hotel" />
        <mapping class="com.bookingpetz.domain.Address" />
        <!--
        <mapping class="com.bookingpetz.domain.Reservation" />
        <mapping class="com.bookingpetz.domain.Photo" />
        <mapping class="com.bookingpetz.domain.PetOwner" />
        <mapping class="com.bookingpetz.domain.Pet" />
        <mapping class="com.bookingpetz.domain.Payment" />
        -->
    </session-factory>
</hibernate-configuration>
